header, .post:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: pink;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: pink;
  text-decoration: underline;
}


